<footer class="site">
  <div class="wrap">
    <div class="grid">
      <div class="brand-blk">
        <div class="name">Myohokkein</div>
        <div class="name-jp">日蓮宗　護国山　妙法華院</div>
      </div>
      <div>
        <h4>Visit</h4>
        <ul>
          <li><a href="<%= rootPath %>about/">About</a></li>
          <li><a href="<%= rootPath %>grounds/">Grounds</a></li>
          <li><a href="<%= rootPath %>gallery/">Gallery</a></li>
          <li><a href="<%= rootPath %>faq/">FAQ</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li>4-5-8 Eizawa-chō</li>
          <li>Hyogo-ku, Kobe 652-0816</li>
          <li>TEL 078-575-2608</li>
          <li>FAX 078-577-7651</li>
        </ul>
      </div>
      <div>
        <h4>Follow</h4>
        <ul>
          <li><a href="https://www.instagram.com/explore/locations/236870120051032/" target="_blank" rel="noopener">Instagram ↗</a></li>
          <li><a href="https://www.youtube.com/channel/UCNAaxCyBY_0nOeElQppw3AQ/live?app=desktop" target="_blank" rel="noopener">YouTube ↗</a></li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <span><%= footerCopyright %></span>
    </div>
  </div>
</footer>
